extends layout

block content
  .container
    h1 Editar Compositor  #{compositor.nome}
    
    form.w3-compositor-form(method="post")
      fieldset 
        // Adiciona um campo oculto para enviar o ID
        input(type="hidden" name="id" ) 
        
        label(for="nome") Nome:
        input(type="text" name="nome" value=compositor.nome)
        br 
        
        label(for="bio") Biografia:
        input(type="text" name="bio" value=compositor.bio)
        br
        
        label(for="dataNasc") Data de Nascimento:
        input(type="date" name="dataNasc" value=compositor.dataNasc) 
        br
        
        label(for="dataObito") Data de Óbito:
        input(type="date" name="dataObito" value=compositor.dataObito) 
        br
        
        label(for="periodo") Período:
        input(type="text" name="periodo" value=compositor.periodo)
        br 
        
      button.w3-btn.w3-purple.w3-mb-2(type="submit") Salvar Alterações

    p.w3-margin-top
      a(href="http://localhost:7777/compositores", class="saida") Voltar ao Menu Compositores

  